{% extends "firstapp/base.html" %}
{% block title %}about{% endblock title %}
{% block header %}Сведения о компании{% endblock header %}
{% block content %}
    <p>Интеллектуальные программные системы</p>
    <p>Примеры вывода даты и времени:</p>
    <p>Год в виде четырех цифр - {% now "Y" %}</p>
    <p>Год в виде последних двух цифр - {% now "y" %}</p>
    <p>Полное название месяца - {% now "F" %}</p>
    <p>Сокращенное название месяца - {% now "M" %}</p>
    <p>Номер месяца, две цифры - {% now "m" %}</p>
    <p>Аббревиатура месяца (Ассошиэйтед Пресс) - {% now "N" %}</p>
    <p>Номер месяца, одна цифра - {% now "n" %}</p>
    <p>День месяца - {% now "j" %}</p>
    <p>День недели - текст - {% now "1" %}</p>
    <p>Часы (0-12) - {% now "h" %}</p>
    <p>Часы (0-24) - {% now "H" %}</p>
    <p>Минуты (0-59) - {% now "i" %}</p>
    <p>Секунды (0-59) - {% now "s" %}</p>
    <p>Дата (день/месяц/год) - {% now "j/m/Y" %}</p>
    <p>Время (час:мин:сек) - {% now "H:i:s" %}</p>
{% endblock content %}